@import "../../../../../styles/breakpoints.scss";
@import "../../../../../styles/shadows.scss";

.stake-box-container {
  display: block;
  position: relative;
  border: 1px solid #4a8cc9;
  border-radius: 0.75rem;
  margin: 0 0 25px 0;
  overflow: hidden;
  box-shadow: $shadow-soft-light;

  & .upper {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #354e8e;

    & .box-logo {
      display: block;
      width: 50px;
      height: 50px;
      text-align: center;
      margin-left: 20px;
      & img {
        object-fit: contain;
        max-height: 50px;
        max-width: 50px;
      }
    }
    & .box-name {
      margin-left: 20px;
      & .title {
        font-size: 18px;
        font-weight: 500;
        color: white;
        letter-spacing: 0.5px;
      }
      & .subtitle {
        font-size: 12px;
        color: white;
      }
    }
  }

  & .lower {
    display: block;
    padding: 14px 34px;
    background-color: #4a8cc9;
    & .stats {
      &:first-child {
        margin-bottom: 4px;
      }
      display: flex;
      align-items: center;
      font-size: 16px;
      letter-spacing: 0.5px;
      color: white;
      & .title {
        width: 32px;
        font-weight: 300;
      }
      & .value {
        width: 75px;
        font-weight: 500;
        margin-left: 12px;
      }
    }
  }

  & .expanded {
    display: block;
    background-color: white;
    padding: 14px 34px;
    & .statistics {
      & .title {
        font-size: 16px;
        font-weight: 500;
      }
      & .stats {
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        color: black;
        margin-top: 8px;
        & .title {
          width: 47.5%;
          font-weight: 300;
          font-size: 12px;
          @include sm {
            font-size: 14px;
          }
        }
        & .value {
          width: 52.5%;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
    & .fields {
      display: block;
      margin-top: 25px;
      & .input-label {
        display: block;
        padding-bottom: 8px;
        font-size: 14px;
        font-weight: 500;

        & span {
          font-size: 12px;
          font-weight: 400;
        }
      }
      & .input-subtitle {
        display: block;
        font-size: 12px;
        margin: 8px 0;
      }
      & .input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid 1px darkgrey;
        border-radius: 0.5rem;
        padding: 8px 14px;

        & .max-btn {
          font-size: 14px;
          color: #999999;
          border: none;
          background-color: transparent;
        }
        & input[type="number"] {
          display: block;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          text-align: right;
          width: 100px;
          margin-top: 2px;
          border: none;
          background-color: transparent;
          &:focus {
            outline: none !important;
          }
        }
      }
      & .action-btn {
        display: block;
        margin: 8px 0 40px auto;
        background-color: white;
        border: solid 1px lightgray;
        border-radius: 0.5rem;
        box-shadow: $shadow-tiny;
        color: #354e8e;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 0;
        width: 100%;
        &:disabled,
        &[disabled] {
          border-color: #cccccc;
          color: #aaaaaa;
          background-color: #dddddd;
        }
      }
    }
    & .claims {
      display: block;
      margin-top: 35px;
      text-align: center;
      & .title {
        display: block;
        font-size: 14px;
        font-weight: 400;
      }
      & .value {
        display: block;
        font-size: 28px;
        font-weight: 600;
        color: #354e8e;
      }

      & .claim-btn {
        display: block;
        margin: 8px 0 20px auto;
        background-color: white;
        border: solid 1px lightgray;
        border-radius: 0.5rem;
        box-shadow: $shadow-tiny;
        color: #354e8e;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 0;
        width: 100%;
        &:disabled,
        &[disabled] {
          border-color: #cccccc;
          color: #aaaaaa;
          background-color: #dddddd;
        }
      }
    }
  }
}

.button-box {
  display: flex;
  flex-wrap: wrap;
  & .action-btn {
    height: 40px;
    &:nth-of-type(1) {
      margin-bottom: 10px !important;
      @include md {
        margin-bottom: unset;
      }
    }
  }
}

.attention {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

.hide {
  display: none;
}
