@import "../../styles/breakpoints.scss";
@import "../../styles/shadows.scss";

.footer-bar {
  width: 100%;
  background-color: #272727;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 50px 0 25px 0;
  z-index: 10;

  .footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    @include rwd(1440) {
      max-width: 1440px;
    }
  }

  & .upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    & .navigation {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 2.25rem;
      order: 2;

      @include sm {
        justify-content: space-evenly;
        margin-bottom: 3.25rem;
      }
      @include lg {
        width: 50%;
        justify-content: flex-start;
        order: 1;
      }

      & .item {
        width: 50%;
        margin-bottom: 1.5rem;
        @include sm {
          width: 33%;
          margin-bottom: 0;
        }
        &:nth-child(1) {
          width: 50%;
          @include sm {
            width: 33%;
          }
        }

        &:nth-child(2) {
          @include sm {
            padding: 0 5%;
          }
        }

        &:nth-child(3) {
          width: 50%;
          @include sm {
            width: 23%;
            padding: 0;
          }
        }
        &:nth-child(4) {
          width: 30%;
          @include sm {
            display: none;
          }
          & img {
            height: auto;
            width: 150px;
            object-fit: contain;
          }
        }

        & a {
          cursor: pointer;
          display: table;
          font-size: 1rem;
          font-weight: 400;
          margin-bottom: 0.75rem;
          text-decoration: none;
          color: #aaaaaa;
          &:hover {
            color: white;
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
          }
        }
      }
    }

    & .media {
      width: 100%;
      margin-bottom: 3.25rem;
      order: 1;
      @include lg {
        width: 45%;
        margin: 0 0 0 auto;
        order: 1;
      }

      & .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;

        & .powered-by {
          display: none;
          @include sm {
            display: block;
          }
        }

        & a {
          margin: 0 15px 10px 15px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }

        & a img {
          width: auto;
          height: 28px;
          object-fit: contain;
          &:hover {
            filter: brightness(0.75);
          }
          @include md {
            height: 38px;
          }
          @include lg {
            height: 20px;
          }
          @include rwd(1080) {
            height: 26px;
          }
          @include rwd(1220) {
            height: 32px;
          }
        }
      }
    }

    & .header {
      color: white;
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
  }

  & .bottom {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    & a .logo {
      display: block;
      height: 32px;
      width: 32px;
      object-fit: contain;
      @include lg {
        height: 54px;
        width: 54px;
      }
    }
    & .footer-typer-container {
      display: block;
      margin-left: 15px;
      & .footer-typer-cursor {
        color: white;
      }
      & .footer-typer-text {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        color: white;
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
        & span.typer-text-space {
          margin: 0 3px;
        }
      }
    }
  }
}
