@import "../../styles/breakpoints.scss";
@import "../../styles/shadows.scss";

.header-container {
  display: block;
  position: relative;
  z-index: 100;
  background: transparent;
  width: 100%;
  @include rwd(1440) {
    width: 100%;
    padding: 0;
  }
  & .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    margin: 0 auto;
    width: 90%;
    @include rwd(1440) {
      max-width: 1440px;
    }
    & .logo-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 70px;
      width: auto;
      cursor: pointer;
      text-decoration: none;
      & .logo-img {
        display: block;
        height: 50px;
        width: 50px;
        & img {
          object-fit: contain;
          height: 50px;
          width: 50px;
        }
      }
      & .logo-title {
        display: none;
        @include sm {
          display: block;
          color: white;
          margin-left: 20px;
          font-weight: 400;
          font-size: 18px;
          line-height: 40px;
        }
      }
    }
    & .xs-nav-toggle {
      display: block;
      & svg {
        color: white;
        stroke-width: 1.5px;
      }
    }
    & .xs-nav-menu {
      display: none;
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      pointer-events: none;
      &.expanded {
        display: block;
        pointer-events: auto;
        background-color: white;
        box-shadow: $shadow-soft;
        & .menu-item {
          display: block;
          color: black;
          font-size: 16px;
          font-weight: 400;
          padding: 15px;
          text-decoration: none;
          border-bottom: 1px solid rgb(236, 236, 236);
        }
        & .accordion-toggle {
          display: flex;
          align-items: center;
          color: black;
          font-size: 16px;
          font-weight: 400;
          padding: 15px;
          border-bottom: 1px solid rgb(236, 236, 236);
          & svg {
            height: 20px;
            width: 20px;
            margin-left: auto;
            padding-left: 20px;
          }
        }
        & .accordion-menu {
          display: none;
          &.expanded {
            display: block;
            padding: 15px 0 10px 35px;
            & a {
              display: block;
              text-decoration: none;
              color: black;
              margin-bottom: 15px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    & .lg-nav-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      & a,
      & .menu-item {
        color: white;
        margin-right: 5vw;
        text-decoration: none;
        cursor: pointer;
      }
      & .accordion-container {
        display: block;
        position: relative;
        margin-right: 5vw;
        width: 100%;
        &:last-child {
          margin-right: 0;
        }
        & .accordion-toggle {
          display: flex;
          align-items: center;
          color: white;
          text-decoration: none;
          width: 100%;
          cursor: pointer;
          & svg {
            height: 20px;
            width: 20px;
            margin-left: 8px;
          }
        }
        & .accordion-menu {
          display: none;
          position: relative;
          &.expanded {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 30px;
            right: 50%;
            transform: translateX(50%);
            width: 175px;
            background-color: white;
            box-shadow: $shadow-soft;
            border-radius: 0 0 0.5rem 0.5rem;
            padding: 8px;
            & a {
              text-decoration: none;
              width: 100%;
              margin: 0 auto;
              color: black;
              padding: 8px;
              &:hover {
                color: #3934a1;
              }
            }
          }
        }
      }
    }
  }
}
