@import "../../../../styles/breakpoints.scss";
@import "../../../../styles/shadows.scss";

.connect-button {
  display: block;
  position: relative;
  z-index: 10;
  width: 165px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin: 25px auto;
  color: #3934a1;
  border: none;
  border-radius: 0.25rem;
  padding: 10px 8px;
  box-shadow: $shadow-soft-light;
  cursor: pointer;
  &:hover {
    color: #999999;
  }
}
